@media (min-width:1600px) {
    .scroll-r {
        max-height: calc(56vh - 14px);
    }
}


@media (max-width:1024px) {

    .p-top,
    .project-content {
        height: 60vh;
    }
}

@media (min-width:768px) {
    .d-sm-none {
        display: none;
    }
}

@media (max-width:991.98px) {
    .about-content h3 {
        font-size: 24px;
    }

    .about-content h2 {
        font-size: 28px;
    }
}

@media (max-width:767.98px) {
    .container-fluid {
        padding-right: calc(1rem * .5);
        padding-left: calc(1rem * .5);
    }

    .resume-content {
        flex-direction: column;
    }

    .resume-left {
        flex-basis: 100%
    }

    .scroll-l,
    .scroll-r {
        max-height: 75% !important;
        min-height: 75% !important;
        overflow-y: hidden;
        padding: .8rem;
    }

    .resume-content {
        max-height: 75% !important;
        min-height: 75% !important;
        overflow-y: scroll;
    }

    .d-none {
        display: none;
    }

    .title-exp {
        background-size: 100%;
    }

    .head-resume {
        padding: 0rem 0 1rem;
    }

    .resume-right {
        border-radius: 0;
        padding: 0.2rem;
    }

    .resume-download {
        padding: 8px 4px;
        margin-bottom: .5rem;
        text-align: center;
    }

    .p-top,
    .project-content {
        height: 35vh;
    }
}

@media (max-width:600px) {
    .ef-logo h1[data-hover] {
        font-size: 1.5rem;
        letter-spacing: .6vw;
    }

    .menu-right button {
        font-size: 16px;
    }

    .head-resume span {
        display: block;
    }

    .head-resume span:after {
        content: '';
    }

    .head-resume span:last-child {
        margin: 0;
    }

    .steps-item-title small {
        display: block;
    }

    .steps-exps-2 small:before,
    .steps-item-title small:after {
        display: none;
    }

    .earthflex {
        font-size: 55px;
    }

    .about-content {
        margin-top: -5rem;
    }

    .about-content h3:after {
        height: 50px;
        width: 50px;
    }

    .about-content h3 {
        font-size: 20px;
    }

    .about-content h2 {
        font-size: 22px;
        padding: 1rem 1rem;
    }

    .icon-item {
        width: 50px;
        height: 50px;
    }

    .menu-right .talk {
        font-size: 20px;
    }
}

@media (max-width:425px) {}

@media (max-width:403px) {
    .earthflex {
        font-size: 50px;
    }

    .menu-right .talk {
        font-size: 18px;
    }
}

@media (max-width:378px) {
    .ef-topbar .mobile-location {
        display: none;
    }
}

@media (max-width:320px) {
    .earthflex {
        font-size: 45px;
    }
}