@media (min-width:768px) {
    .d-sm-none {
        display: none;
    }
}

@media (max-width:767.98px) {
    .container-fluid {
        padding-right: calc(1rem * .5);
        padding-left: calc(1rem * .5);
    }

    .resume-content {
        flex-direction: column;
    }

    .resume-left {
        flex-basis: 100%
    }

    .scroll-l,
    .scroll-r {
        max-height: 75% !important;
        min-height: 75% !important;
        overflow-y: hidden;
        padding: .8rem;
    }

    .resume-content {
        max-height: 75% !important;
        min-height: 75% !important;
        overflow-y: scroll;
    }

    .d-none {
        display: none;
    }
    .title-exp{
        background-size: 100%;
    }
}

@media (max-width:600px) {
    .ef-logo h1[data-hover] {
        font-size: 1.5rem;
        letter-spacing: .6vw;
    }

    .menu-right button {
        font-size: 16px;
    }

    .resume-download {
        padding: 8px 4px;
    }

    .resume-right {
        padding: 0.2rem;
    }
}